#movingDiv {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 5s; /* Safari */
  -webkit-transition-delay: 2s; /* Safari */
  transition-property: width;
  transition-duration: 10s;
  transition-delay: 1s;
}

#movingDiv:hover {
  width: 500px;
}
